<div class="pull-right">
   <% if user_signed_in? %>

     <%= link_to 'Meu perfil', edit_user_registration_path,
                               class: 'btn btn-default btn-sm' %>
<%= link_to 'Solicitar cotação', new_cotation_path,
                               class: 'btn btn-primary btn-sm' %>
<%= link_to 'Minhas cotações', cotations_path,
                                class: 'btn btn-success btn-sm' %>
<%= link_to 'Sair', destroy_user_session_path, method: :delete,
                         class: 'btn btn-danger btn-sm' %>
   <% else %>
     <%= link_to 'Entrar', new_user_session_path,
                           class: 'btn btn-success btn-sm' %>
   <% end %>
 </div>



<h2>Atualizar Perfil</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "Deixe em braco se não deseja alterar", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "Precisamos da sua senha atual para confirmação", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar" %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Não está satisfeito? <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
