<h1>Mostrando Cotações</h1>

<table>

  <% @cotations.each do |cotation| %>
    <tr>
      <td><%= cotation.type %></td>
      <td><%= cotation.quantity %></td>
      <td><%= link_to 'Mostrar', cotation_path(cotation) %></td>
    </tr>
  <% end %>
</table>
