<% provide(:head_title, "Fazer Cotação") %>
<h2>Solicitar Cotação</h2>

<%= simple_form_for :cotation, url: cotations_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Tipo %>
    <%= f.input :Quantidade_de_Palavras %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Solicitar" %>
  </div>
<% end %>
