<% provide(:head_title, "Cotação Solicitada") %>

<%= simple_form_for :cotation, url: cotations_path do |f| %>
  <%= f.error_notification %>


<h2>Cotação Solicitada!</h2>

  <div class="form-inputs">
    <p>
      <strong>Tipo:</strong>
      <%= @cotation.type %>
    </p>

    <p>
      <strong>Quantidade de Palavras:</strong>
      <%= @cotation.quantity %>
    </p>
  </div>
<%= link_to "Voltar", :back %>
<% end %>
