/*************************************************************
* Vertical and horizontal align
**************************************************************/

html, body {
  height: 100%;
  background-color: #B0C4DE;
}

.container {
  height: 100%;
}

.vertical-centering {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-centering {
  width: 50%;
  margin: auto;
}
