<p>Olá <%= @email %>!</p>

<% se @resource.try(:unconfirmed_email?) %>
  <p>Estamos te contatando para notificar que seu e-mail foi alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos te contatando para notificar que seu e-mail foi alterado para <%= @resource.email %>.</p>
<% end %>
