<p>Olá <%= @resource.email %>!</p>

<p>Foi requisitado um link para alterar sua senha. Você pode fazer isso pelo link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore esse e-mail.</p>
<p>Sua senha não muda enquanto você não acessa o link acima e cria uma nova senha.</p>
