
<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:head_title)) %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all',
  'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


  <p class="alert"><%= alert %></p>

  <div id="home-index" class="container">
    <div class="horizontal-centering">


      <%= render 'shared/flash_messages'%>


    </div> <!-- .vertical-centering .horizontal-centering -->
    <%= yield %>
  </div> <!-- #home-index -->

</body>
</html>
