<!DOCTYPE html>
<html>
   <head>
       <title><%= full_title(yield(:head_title)) %></title>
       <%= csrf_meta_tags %>

       <%= stylesheet_link_tag    'session', media: 'all',
                                  'data-turbolinks-track': 'reload' %>
       <%= javascript_include_tag 'session',
                                    'data-turbolinks-track': 'reload' %>
   </head>

   <body>

     <div id="<%= controller_name %>-<%= action_name %>" class="container">
       <div class="vertical-centering horizontal-centering">

          <%= render 'shared/flash_messages'%>

          <div>
               <h3 class="text-center gray-text2"><%= yield :title %></h3>
               <p class="gray-text2"><%= yield :sub_title %></p>
          </div>

          <%= yield %>

       </div> <!-- .vertical-centering .horizontal-centering -->
     </div> <!-- #home-index -->

   </body>
</html>
